

 
 .section {

    height: calc(90%-50px);
    height:90vh;
  }

.first{

height:100vh;
min-height: 500px;


} 

.bg-img {
  /* The image used */
    background-image: url("src/images/home.jpg");
   height:1000px; 
   min-width: 500px;
   background-position: center;
  /* Needed to position the navbar */
    position: relative; 
  
 }   

 .navbar-brand, .nav > li > a {
  padding: 15px 15px;
}

.nav a{
 
  font-size: 0.5em

  }

  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  * {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-size: 1.5em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  font : bold
}

@media screen and (max-width: 690px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin:0 ;
    padding: 25px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

   /* .dropdown-item {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }  */


}  
