<!-- 
<div style="text-align: center">

    <h2>  <a [routerLink]="['/signup']">SignUp</a> <br><br> </h2>
    <h2>  <a [routerLink]="['/login']">Login</a> <br><br> </h2>
    
</div> -->
<!-- 
<div class = "bg-img">
<div class ="container"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item active" style="margin-right: 15px" >
          <a [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 15px">
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active">SignUp</a>
          </li>

        <li class="nav-item"style="margin-right: 15px" >
          <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
        </li>
        <li class="nav-item" style="margin-right: 15px">
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
        </li>
       </ul> -->
    
  
     
   
   <div class= "bg-img"> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="navbar-brand" [routerLink]="['home']" routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#"[routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/add-employee']" routerLinkActive="router-link-active">Add Employee</a>
          <a class="dropdown-item" [routerLink]="['/view-employee']" routerLinkActive="router-link-active">View Employee</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="topnav"> -->
  <!-- <a [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
  <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
  
  <div class="dropdown">  -->
    <!-- <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" > -->
       <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Employee information
    </button> -->
    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class ="dropdown-item" [routerLink]="['/add-employee']" routerLinkActive="router-link-active">Add Employee</a>
    <a class="dropdown-item" [routerLink]="['/view-employee']" routerLinkActive="router-link-active">View Employee List</a>
      </div> -->
    <!-- </div>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
<!-- </div> -->
        

<section class ="first">
<div class ="container"></div>
</section>
<section id ="services">
  <div class ="container">

    <h1> IT consulting and recruiting agencies match the requirements of the client firms with the skills of 
         their employees and set up the interview between their employees and the client firm. Interviews are 
         then conducted, and the candidates selected in the interview are recruited as consultants in the client’s 
         firm for the duration of the project.The advantage of the web-based application is its availability, 
         as it can be accessed by anyone connected to the Internet and multiple users can access it at the same 
         time. The web-application can be designed as a three-tier architecture, which includes a web client, 
         network servers, and a back-end information system supported by a suite of databases .The goal of this 
         project is to develop a user-friendly web-based application that automates the routine activities for 
         an IT consulting services. </h1>
  </div> 
</section> 

